 *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
 }

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
    height: 80px;
    position:sticky;
    top:0;
    font-size: 1.2rem;
}
.navbar_container{
    display: flex;
    text-align:center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar_logo{
    display:flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
    background-color: #FFFF00;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.fa-gamepad{
    margin-right: 0.5rem;
}
.navbar_menu{
    display: flex;
    align-items:center;
    justify-content:flex-end;
    width: 100%;
}
.navbar_item{
   display:flex;
   align-items:center;
   justify-content:center;
   width: 100%;
   max-width: 250px;
  
}
.navbar_link{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #fff;
     
}
.navbar_link:hover{
    color:#FFFF00;
    transition: all 0.3s ease;
}
.navbar_btn{
    display: flex;
    justify-content:center;
    align-items: center;
    max-height: 50px;
}
.navbar_button{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    color: #FFFF00;
    border: 2px solid #FFFF00; 
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
.navbar_button:hover{
    background: #f0f0f079;
    transition: all 0.3s ease ;
}


@media screen and (max-width:960px){ /* spécifie des styles à appliquer lorsque la largeur de l'écran est égale ou inférieure à 960 pixels*/
    .navbar_container{
        display: flex;
        justify-content:space-between;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }  

    .navbar_menu{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:space-between;
        width:100%;
        position: absolute;
        top: -1000px;    /**/
        transition: all 0.3s ease;
        background:#131313;
    } 
    .navbar_menu.active{
        width: 100%;
        background:#1313139e;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 390px;
        font-size:1.6rem;
    }
    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_link{
        text-align:center;
        padding:2rem;
        width: 100%;  
    }
    .navbar_toggle .bar {
        display: block; /*Pour afficher les trois traits des sites*/
        cursor: pointer;
    }
    /*       Bar       */
    .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition:all 0.3s ease-in-out;
        background: #fff;
    }
    /*- Position of three span bar */
    #mobile-menu{
        position: absolute;
        top: 20%;
        right:5%;
        transform: translate(5%, 20%); /*Cette fonction de translation déplace l'élément horizontalement de 5% de sa propre largeur vers la droite et verticalement de 20% de sa propre hauteur vers le bas*/
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar_btn{
        padding-bottom: 2rem;
    }
    .navbar_button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        width: 100%;
        height: 80px;
    }
  
}