@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-----------------------------Telephone-------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {
    /*---------------------------------------------------------------------------------------------------------------*/
    * {
        margin: 0;
        padding: 0;
        text-decoration: none; 
        color:  #fff;
        background: #181818;
        font-family: "Inter";
    }

    /*------------------------------------------------Navbar------------------------------------------------------*/
    .navbar {
        z-index: 999;
    }

    .navbar_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 42px; 
        padding: 30px 20px;
    }

    .navbar_head figure img {
        border-radius: 20px;
        height: 33px;
        width: 33px;
    }

    .navbar_link {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        font-family: "Inter";
        font-weight: 400;
    }

    .navbar_link a {
        position: relative;
        background-color: #222222;
        text-align: center;
        border-radius: 20px;
        padding: 10px 30px;
        overflow-x: hidden;
        margin-left: 20px;
        display: inline-block;
    }

    .navbar_link a:hover {
        background: #1ED760;
        border-radius: 20px;
        transition: 0.4s ease;
    }

    /*------------------------------------------------Play list------------------------------------------------------*/
    .play_list{
        padding: 30px 20px;
    }
    
    .play_list h3 {
        display: flex;
        flex-direction: row;
        gap:10px;
        padding-bottom: 10px;
        font-size: large;
    }
    .play_list h3 i{
        content: fit;
        width: auto;
        height: auto;
    }
    
    .play_list h3 a{
        text-decoration: underline;
        margin-left: auto;
    }
    
    .list-albums {
        display: flex;
        flex-direction: row;
        gap:20px;
    }
    
    .list-albums .album-info p {
        opacity: 48%;
    }
    .list-albums .album-info h3 {
        font-weight: 400;
        padding-top: 10px;
    }
    
    .play_list_recently{
        display: flex;
        align-items: center;
    }
    
    .play_list_img{
        display: flex;
        align-items:center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
    }
    
    .play_list figure img{
        width: 169px;
        height: 165.45px;
        border-radius: 6px;
       
    }
    .play_list figure img:hover {
        filter: brightness(70%);
    }
    
    
    .play_list figure h2{
        padding: 5px;
    }
    
    .album .album-cover { 
        border-radius: 10px; 
        overflow: hidden; 
        position: relative; 
        margin: 0;
    }
    
    .album .album-cover img { 
        width: 169px; 
        height: 169px; 
        object-fit: cover; 
    }
    .album .album-cover:before {
        content:'';
        background-color: transparent;
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        transition: all ease-in-out 250ms;
    }
    
    .album .album-cover:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        background-image: url("data:image/svg+xml,%3Csvg width='47' height='47' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23a)'%3E%3Cpath d='M47 23.5a23.5 23.5 0 1 1-47 0 23.5 23.5 0 0 1 47 0Zm-27.054-8.54a1.468 1.468 0 0 0-2.321 1.196v14.688a1.468 1.468 0 0 0 2.32 1.195l10.282-7.343a1.469 1.469 0 0 0 0-2.392l-10.281-7.343Z' fill='%231ED760'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%231ed760' d='M0 0h47v47H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        width: 47px;
        height: 47px;
        left:calc(50% - 23px);
        top:calc(50% - 23px);
        visibility: hidden;
    
    }
    .album:hover .album-cover:before {
        background-color: rgba(0, 0, 0, .6);
    } 
    
    .album:hover .album-cover:after {
        visibility: visible;
    }

    /*------------------------------------------------Footer------------------------------------------------------*/
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-family: "Inter";
        font-weight: 400;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        background-color: #222222;
        max-width: auto;
        height: 75px;
    }

    footer a {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: #222222;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1px;
        text-align: center;

    }

    footer a i {
        margin-right: 8px;
        background-color: #222222;
    }

    footer a:hover {
        color: #1ED760;
        transition: 0.2s ease;
    }

    footer a i:hover {
        background: #1ED760;
        border-radius: 20px;
        transition: 0.4s ease;
    }
}





/*---------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    color:  #fff;
    background: #181818;
    font-family: "Inter";
}

/*------------------------------------------------Navbar------------------------------------------------------*/
.navbar{
   
    z-index: 999;
}

.navbar_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 42px; 
    padding: 30px 20px;
}

.navbar_head figure img{
    border-radius: 20px;
    height: 33px;
    width: 33px;
}
.navbar_link{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Inter";
    font-weight: 400;

}
.navbar_link a{
    position: relative;
    background-color: #222222;
    text-align: center;
    border-radius: 20px;
    padding: 10px 30px;
    overflow-x: hidden;
    margin-left: 20px;
    display: inline-block;
}
.navbar_link a:hover{
    background: #1ED760;
    border-radius: 20px;
    transition: 0.4s ease;
}

/*------------------------------------------------Play list------------------------------------------------------*/
.play_list{
    padding: 30px 20px;
}

.play_list_img{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.play_list h3 {
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-bottom: 10px;
    font-size: large;
    font-weight: 700;
}
.play_list h3 i{
    content: fit;
    max-height: auto;
    max-width: auto;
}

.play_list h3 a{
    text-decoration: underline;
    margin-left: auto;
}

.list-albums {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.list-albums .album-info p {
    opacity: 48%;
}
.list-albums .album-info h3 {
    font-weight: 400;
    padding-top: 10px;
}



.album .album-cover { 
    border-radius: 10px; 
    overflow: hidden; 
    position: relative; 
    margin: 0;
}

.album .album-cover img { 
    width: 169px; 
    height: 169px; 
    object-fit: cover; 
}
.album .album-cover:before {
    content:'';
    background-color: transparent;
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 250ms;
}

.album .album-cover:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    background-image: url("data:image/svg+xml,%3Csvg width='47' height='47' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23a)'%3E%3Cpath d='M47 23.5a23.5 23.5 0 1 1-47 0 23.5 23.5 0 0 1 47 0Zm-27.054-8.54a1.468 1.468 0 0 0-2.321 1.196v14.688a1.468 1.468 0 0 0 2.32 1.195l10.282-7.343a1.469 1.469 0 0 0 0-2.392l-10.281-7.343Z' fill='%231ED760'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%231ed760' d='M0 0h47v47H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width: 47px;
    height: 47px;
    left:calc(50% - 23px);
    top:calc(50% - 23px);
    visibility: hidden;

}
.album:hover .album-cover:before {
    background-color: rgba(0, 0, 0, .6);
} 

.album:hover .album-cover:after {
    visibility: visible;
}

/*------------------------------------------------Footer------------------------------------------------------*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    font-family: "Inter";
    font-weight: 400;
}

footer a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
footer a i{
   margin-right: 8px;
}
footer a:hover{
    color: #1ED760;
    transition: 0.2s ease;

}
footer a i:hover{
    background: #1ED760;
    border-radius: 20px;
    transition: 0.4s ease;
}

