*{
    margin: 0;
    padding: 0;
    font-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.big-container{
    background: #151515;
}
.padding{
    padding: 0 15px;

}
.img_background{
    width: 100%;
    height: 100vh;
    background-image: url("/TP-DE-JANVIER/assets/img/album/cover/songimage.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

section,.title, .artist, .progress, .controller, .subcontroller, .fade {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section {
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
  }
  

.progress {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.75em;
  }

.progress .bar {
    height: 2px;
    width: 62.5%;
    background-color: #C3C3C3;
  }

  main, .fade {
    animation: bienvenualhotelwoaouh 1s;
  }
  
  
  @keyframes bienvenualhotelwoaouh {
    from {
        transform: translateY(550px);
    }
    to {
        transform: translateY(0);
    }
  }
  
  .fade {
    height: 25%;
    width: 100%;
    background-color: #1E1E1E;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,  #1E1E1E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .title {
    color: white;
    font-size: 2em;
    gap: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .title h1{
    text-align: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    display: inline-block;
    overflow: hidden;
    max-width: 75%;
  }


  .artist{
    display: flex;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
    color: #FFFFFF7A;
  }
  
  .controller{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    max-width: 800px;
  }
  
  .subcontroller{
    gap: 1rem;
  }
  
/*------------------------------------------------Footer------------------------------------------------------*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5rem;
  }
  
  footer a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color:#fff;
  }
  footer a i{
   margin-right: 8px;
  }
  footer a:hover{
    color: #1ED760;
    transition: 0.2s ease;
  
  }
  footer a i:hover{
    background: #1ED760;
    border-radius: 20px;
    transition: 0.4s ease;
  }
  
  
  /*Mobile adapatation*/
  
  @media screen and (max-width:960px){
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:50px;
        
    }
    
    footer a{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        
    }
    footer a i{
       margin-right: 8px;
    }
    footer a:hover{
        color: #1ED760;
        transition: 0.2s ease;
    
    }
    footer a i:hover{
        background: #1ED760;
        border-radius: 20px;
        transition: 0.4s ease;
    }  
  }


  /*Mobile*/

@media screen and (max-width: 600px){

     /*------------------------------------------------Footer------------------------------------------------------*/
     footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        max-width: auto;
        height: 75px;
        font-family: "Inter";
        font-weight: 400;
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
        background-color: #222222;
    }

    footer a {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: #222222;
        justify-content: center;
        flex-direction: column;
    }

    footer a i {
        margin-right: 8px;
        background-color: #222222;
        justify-content: center;
    }

    footer a:hover {
        color: #1ED760;
        transition: 0.2s ease;
    }

    footer a i:hover {
        background: #1ED760;
        border-radius: 20px;
        transition: 0.4s ease;
    }
}
