*{
    box-sizing: border-box;
    margin:0;
    padding:0; 
    font-family: 'Kumbh Sans',sans-serif ;
}

.navbar{
    /*Toujours appliqué ces propriétés au navbar*/
    background: #131313;
    height: 80px;
    display: flex; /*Je rends tout les tout elements sdu nav flexsible*/
    justify-content:center; /*Et maintenant je fais ce que je veux sur eux ( agit sur l'axe horizontal du conteneur flexible*/
    align-items: center;  /*Agit sur l'axe vertical du conteneur flexible (même rôle que justify-content)*/
    font-size: 1.2rem;
    position: sticky; /*Elément(noraml & fixed) reste dans le flux normal du document jusqu'à ce que son bloc de conteneur atteigne un certain point pendant le défilement*/
    top: 0; /*La position à laquelle l'élément deviendra fixe (Toujours resté en haut de la page lors du défilement*/
    z-index: 999;/*Définie l'ordre de compilation/affichage de ce conteneur:(sonz-index estNB, ca ne marche que sur les elements qui ont une position != de static*/
}

.navbar_container{
    display: flex;
    justify-content: space-between; /*Separe tout les elements du conteneur a un distance équitable*/
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin:0 auto;
    padding: 0 50px;
}
/*Astuces pour mettre un couleur gradient en font d'un text pour creer un logo*/
#navbar_logo{
    background-color:#ff8177;
    background-image:linear-gradient(to top,#ff0844 0%,#ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text; /*Permet de specifier l'élément auquelle on défini le bg*/
    -moz-background-clip: transparent;
    -webkit-text-fill-color: transparent; /*rend le text transparent*/
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;   
}

.navbar_button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color:#fff;
}
/*Gestion d'ergonomie des liens*/

.navbar_button:hover{ /*le hover de changer lorqu'on click sur un lien*/
    background: #4837ff;
    transition: all 0.3s ease ; /*Durée d'apparition du lien*/
}
.navbar_links:hover{
    color:#f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width:960px){ /* spécifie des styles à appliquer lorsque la largeur de l'écran est égale ou inférieure à 960 pixels*/
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index:1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }  

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        /*top: -1000px;
        opacity: 0;*/
        transition: all 0.3s ease;
        height: 50vh;
        z-index: -1;
        background:#131313;
    }
    .navbar_menu.active{
        background:#131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size:1.6rem;
    }
    #navbar_logo{
        padding-left: 25px;
    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition:all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar_item{
        width: 100%;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display:table ; /*... transforme le <a></a> en conteneur*/ 
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%); /*Cette fonction de translation déplace l'élément horizontalement de 5% de sa propre largeur vers la droite et verticalement de 20% de sa propre hauteur vers le bas*/
    }
    .navbar_btn{
        padding-bottom: 2rem;
    }

    .navbar_button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    .navbar_toggle .bar {
        display: block; /*Pour afficher les trois traits des sites*/
        cursor: pointer;
    }
}